{% extends "admin/base.html" %}

{% block title %}PyFTP, 4730M{% endblock %}

{% block branding %} <h1 id="site-name">PyFTP, 4730M</h1> {% endblock %}

{% block breadcrumbs %} <div class="breadcrumbs">Home</div> {% endblock %}

{% block usertools %}
<div id="user-tools">
    {% block welcome-msg %}
        Welcome,
        <strong>{% firstof user.get_short_name user.get_username %}</strong>.
    {% endblock %}
    {% block userlinks %}
        {% if user.is_staff %} <a href="{% url 'admin:index' %}">Manage</a> / {% endif %}
        <a href="{% url 'blog:index' %}">Blog</a>
        / <a href="{% url 'account:logout' %}">Log out</a>
    {% endblock %}
</div>
{% endblock %}
