{% extends "pyftp/base.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static " admin/css/changelists.css" %}" />
{% if cl.formset %}
<link rel="stylesheet" type="text/css" href="{% static " admin/css/forms.css" %}" />
{% endif %}
{% if cl.formset or action_form %}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{% endif %}
{{ media.css }}
{% if not actions_on_top and not actions_on_bottom %}
<style>
      #changelist table thead th:first-child {width: inherit}

</style>
{% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/modify_pyftp.css' %}">
    {% if file_removed or file_uploaded %}
    <ul class="messagelist">
        {% if file_uploaded %}
        <li class="success">The file "<a href="{% url 'pyftp:download_file' file_uploaded.0 %}">{{ file_uploaded.1 }}</a>" was uploaded successfully.</li>
        {% endif %}
        {% if file_removed %}
        <li class="warning">The file "{{ file_removed }}" was removed.</li>
        {% endif %}
    </ul>
    {% endif %}
        <h1>File storage</h1>
        <div id="content-main">
            {% if user.is_staff %}
            <ul class="object-tools">
                <li><a href="{% url 'pyftp:upload' %}" class="addlink">Add file</a></li>
            </ul>
            {% endif %}
            <div class="module" id="changelist">
                <div id="toolbar">
                    <form id="changelist-search" method="get">{% csrf_token %}
                        <div><!-- DIV needed for valid HTML -->
                            <label for="searchbar"><img src="{% static "admin/img/search.svg" %}" alt="Search"/></label>
                            <input type="text" style="width:auto" name="q" value="{{ search }}" id="searchbar" autofocus/>
                            <input type="submit" value="Search"/>
                        </div>
                    </form>
                </div>

                <form id="changelist-form" method="post" novalidate>{% csrf_token %}
                    <div class="results">
                        <table id="result_list" style="margin:auto; width:100%; height:100%;">
                            <thead>
                            <tr>
                                <th scope="col" class="sortable column-file_name">
                                    <div class="text">Title</div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col" class="sortable column-upload_date">
                                    <div class="text">Upload date</div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col" class="sortable column-notes">
                                    <div class="text">File notes</div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col" class="sortable column-notes">
                                    <div class="text">Download counter</div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col" class="sortable column-notes">
                                    <div class="text">Source</div>
                                    <div class="clear"></div>
                                </th>
                                {% if user.is_staff %}
                                <th scope="col" class="sortable column-notes">
                                    <div class="text"></div>
                                    <div class="clear"></div>
                                </th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for f in files %}
                            <tr class="row{{ forloop.counter }}">
                                <th class="field-file_name" valign="center">{{ f.file_name }}</th>
                                <td class="field-upload_date nowrap" valign="center">{{ f.upload_date }}</td>
                                <td class="field-notes" valign="center">{{ f.notes }}</td>
                                <td class="field-count" valign="center">{{ f.count }}</td>
                                <td class="field-file" valign="center">
                                    <a href="{% url 'pyftp:download_file' f.id %}" id="dl_file">{{ f.file }}</a>
                                </td>
                                {% if user.is_staff %}
                                <td class="field-file" valign="center" align="right">
                                    <input type="button" onclick="location.href='{% url 'pyftp:remove' f.id %}';" value="Remove" />
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <p class="paginator">
                        Count of files: {{ files.count }}
                    </p>
                </form>
            </div>
        </div>
        <br class="clear"/>
{% endblock %}
