{% load staticfiles %}
<!--<link type="text/css" rel="stylesheet" href="{% static 'ckeditor/ckeditor/contents.css' %}">-->
<link type="text/css" rel="stylesheet"
      href="{% static 'ckeditor/ckeditor/plugins/tableselection/styles/tableselection.css' %}">
<link type="text/css" rel="stylesheet"
      href="{% static 'ckeditor/ckeditor/plugins/copyformatting/styles/copyformatting.css' %}">
<!--<link type="text/css" rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css' %}">-->
