{% load i18n admin_urls static admin_list staticfiles %}

<div class="results">
    <div v-for="article in articles">
        <div class="text-block">
            <div class="post-top">
                <div class="post-title">
                    <div class="left">
                        <h2><a href="">${ article.title }</a></h2>
                        <div style="float: left;">
                            <p>${ article.datetime }</p>
                        </div>
                        <div style="float: right;"></div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>

            <div class="entry">
                <p>${ article.entry }</p>
            </div>
        </div>
    </div>
</div>
<p class="paginator">{% trans "Count of articles" %}: ${articles.length}</p>