{% extends "blog/base.html" %}

{% load i18n admin_urls static admin_modify %}

{% block object-tools %}
<li><a href="{% url 'blog:upload' %}" class="addlink">{% trans "Add article" %}</a></li>
{% endblock %}

{% block page %}
{% for post in posts %}
<div class="text-block">
    <div class="post-top">
        <div class="post-title">
            <div class="left">
                <h2><a href="{{ post.get_url }}">{{ post.title }}</a></h2>
                <div style="float: left;">
                    <p>{{ post.datetime }}</p>
                </div>
                <div style="float: right;"></div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>

    <div class="entry">
        <p>{{ post.entry|safe }}</p>
    </div>

    <input type="button"
           onclick="location.href='{% url 'blog:post' post.id %}';"
           value="{% trans 'More' %}"
           class="default">
    {% if user.is_staff %}
    <input type="button"
           onclick="location.href='{% url 'blog:edit' post.id %}';"
           value="{% trans 'Edit' %}"
           class="default">
    <input type="button"
           onclick="location.href='{% url 'blog:remove' post.id %}';"
           value="{% trans 'Delete' %}"
           class="deleteLink">
    {% endif %}
</div>
{% endfor %}
{% endblock %}

{% block pagination %}
{% if is_paginated %}
<div style="text-align: center;">
    <br>
    <ul class="object-tools" style="float: unset; display: inline-block">
        {% if page_obj.has_previous %}
        <li>
            <a href="?{{ page_kwarg }}={{ page_obj.previous_page_number }}"
               class="viewsitelink"
               id="left-arrow">
                &nbsp;
            </a>
        </li>
        {% endif %}

        {% for page_num in page_range %}
        <li>
            <a href="?{{ page_kwarg }}={{ page_num }}"
               class="{% if page_obj.number == page_num %}current-page{% endif %}">
                {{ page_num }}
            </a>
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li>
            <a href="?{{ page_kwarg }}={{ page_obj.next_page_number }}"
               class="viewsitelink"
               id="right-arrow">
                &nbsp;
            </a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}