{% extends "blog/base.html" %}

{% load i18n %}

{% block page %}
{% for post in posts %}
<div class="text-block">
    <div class="post-top">
        <div class="post-title">
            <div class="left">
                <h2><a href="{{ post.getUrl }}">{{ post.title }}</a></h2>
                <div style="float: left;">
                    <p>{{ post.datetime }}</p>
                </div>
                <div style="float: right;"></div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>

    <div class="entry">
        <p>{{ post.entry|safe }}</p>
    </div>

    <input type="button" onclick="location.href='{% url 'blog:post' post.id %}';" value="{% trans "More" %} ..." class="default">
    {% if user.is_staff %}
    <input type="button" onclick="location.href='{% url 'blog:update' post.id %}';" value="{% trans "Update" %}" class="default">
    <input type="button" onclick="location.href='{% url 'blog:remove' post.id %}';" value="{% trans "Delete" %}" class="deleteLink">
    {% endif %}
</div>
{% endfor %}
{% endblock %}