{% extends "blog/index_base.html" %}


{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url 'blog:index' %}">Home</a> › {{ post.title }}</div> {% endblock %}

{% block page %}
<div class="post-top">
    <div class="post-title">
        <div class="left">
            <h2 style="font-size: 25px;">{{ post.title }}</h2>
            <div style="float: left;">
                <p>{{ post.datetime }}</p>
            </div>
            <div style="float: right;"></div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
<div class="entry">
    <p>{{ post.getAllContent | safe }}</p>
</div>
<input type="button" onclick="location.href='{% url 'blog:index' %}';" value="Back ..." class="default">
{% endblock %}