{% extends "blog/base.html" %}

{% load i18n admin_urls static admin_modify %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url 'blog:index' %}">{% trans "Home" %}</a> › {{ post.title }}</div> {% endblock %}

{% block extrastyle %}
{{ block.super }}
{% include "article.html" %}
{% endblock %}

{% block object-tools %}
<li><a href="{% url 'blog:upload' %}" class="addlink">{% trans "Add article" %}</a></li>
<li><a href="{% url 'blog:edit' post.pk %}" class="viewsitelink">{% trans "Edit article" %}</a></li>
{% endblock %}

{% block page %}
<div class="post-top">
    <div class="post-title cke_editable cke_editable_themed cke_contents_ltr cke_show_borders">
        <div class="left">
            <h2 style="font-size: 25px;">{{ post.title }}</h2>
            <div style="float: left;">
                <p>{{ post.datetime }}</p>
            </div>
            <div style="float: right;"></div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
<div class="entry">
    <p>{{ post.getAllContent | safe }}</p>
</div>
<br>
<br>
<ul class="object-tools" style="float: left;">
    {% if post.tags.all %}
    <li style="margin-left: 0px;">{% trans "Tags" %}:</li>
    {% for tag in post.tags.all reversed %}
    <li><a href="{% url 'blog:index' %}?tag={{ tag.pk }}">{{ tag.title }}</a></li>
    {% endfor %}
    {% endif %}
</ul>

<input type="button" onclick="location.href='{% url 'blog:index' %}';" value="{% trans 'Back' %}" class="default">
{% endblock %}