{% extends "blog/base.html" %}

{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url 'blog:index' %}">{% trans "Home" %}</a> › {% trans "Add article" %}</div> {% endblock %}

{% load i18n admin_urls static admin_modify %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />{% endblock %}

{% block content %}
{% block headone %}
<h1>{% trans "Add article" %}</h1>
{% endblock %}
<div id="content-main">
    <form enctype="multipart/form-data" action="" method="post" novalidate="">{% csrf_token %}
        <fieldset class="module aligned ">
            {% for field in form %}
            {% if field.errors %}
            <div class="form-row errors">
                {{ field.errors }}
                {% else %}
                <div class="form-row">
                    {% endif %}
                    <label class="required">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% if forloop.first %}
            </fieldset>
        <fieldset class="module aligned "><h2>Content</h2>
            {% endif %}
            {% endfor %}
        </fieldset>
        <div class="submit-row"><input type="submit" value="{% trans 'Save' %}" class="default" name="_save"></div>
        <script type="text/javascript"
                id="django-admin-form-add-constants"
                src="/static/admin/js/change_form.js"
                data-model-name="postmodel">
        </script>
        <script type="text/javascript"
                id="django-admin-prepopulated-fields-constants"
                src="/static/admin/js/prepopulate_init.js"
                data-prepopulated-fields="[]">
        </script>
    </form>
</div>
{% endblock %}