/*#content-related, .colSM #content-related {
    width: 100%;
    margin: 0 0 20px;
}

#content-related .module {
    margin-bottom: 0 0 20px;
}*/

.dashboard .module table th {
    width: 100%;
}

.dashboard .module table td {
    white-space: nowrap;
}

.dashboard .module table td a {
    display: block;
    padding-right: .6em;
}

.module ul.categoryList {
    margin-left: 0;
}

ul.categoryList li {
    list-style-type: none;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
