{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block title %}Log in...{% endblock %}

{% block branding %} <h1 id="site-name">Log in...</h1> {% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static " admin/css/login.css" %}" />
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login {% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
        {% if error %}
        <p class="errornote">
            Please enter the correct username or password.
        </p>
        {% endif %}
        <div id="content-main">
            <form action="{% url 'account:login' %}?next={{ url }}" method="post" id="login-form">{% csrf_token %}
                <div class="form-row">
                    <label class="required" for="id_username">Username:</label> <input type="text" name="username"
                                                                                       autofocus id="id_username"
                                                                                       maxlength="254" required/>
                </div>
                <div class="form-row">
                    <label class="required" for="id_password">Password:</label> <input type="password" name="password"
                                                                                       required id="id_password"/>
                </div>

                <div class="submit-row">
                    <label>&nbsp;</label><input type="submit" value="Log in"/>
                </div>
            </form>
        </div>
{% endblock %}